name: Test Panel
on:
  push:
    branches:
      - "**"

jobs:
  test:
    name: "Test panel"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - run: just lint test
